.header__lang-link {
    font-family: Inter;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.header__lang-link:nth-last-of-type(1) {
    margin-left: 18px;
}
.header__lang-link:active {
    text-decoration:underline;
}