.intro__list {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
    list-style-type: none;
    margin: 0 16px 64px 16px;
}