.places__link-container {
        margin-bottom: 32px;
    }   
@media screen and (min-width:768px) {
    .places__link-container {
        width: 352px;
        align-self: flex-end;
        margin-bottom: 48px;
    }   
}
@media screen and (min-width:1024px) {
    .places__link-container {
        width: 456px;
    }   
}
@media screen and (min-width:1280px) {
    .places__link-container {
        width: 484px;
    }   
}