.baikal__title {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;   
    text-align: center;   
    color: white;
    text-decoration: none;
    position: relative;
}
@media screen and (min-width:768px) {
    .baikal__title {
        font-size: 72px;
        line-height: 76px;
    }
}